@import "../utilidades/variables";

/* Estilos de los main Carta y vinos */

.carta {
    @include flex-column;
    flex-direction: column;
    justify-content: center;
    &img {
        @include flex-row;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
     }
  }
  
  
  .accordion {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
  
    &-checkbox {
      display: none;
    }
  
    &-toggle {
      width: 100%;
      padding: 15px;
      font-size: 1.2em;
      text-align: left;
      background-color: #261c24;
      color: #f8f9fa;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      display: block;
  
      &:hover {
        background-color: #cc7c2d;
      }
    }
  
    /* Contenido del accordion oculto */
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    /* Contenido del accordion desplegado */
    &-checkbox:checked + .accordion-toggle + .accordion-content {
      max-height: 1500px;
      overflow-y: auto;
      transition: max-height 0.5s ease-in;
    }
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    flex: 1 1 100%;
    max-width: 100%;

    &:hover {
      transform: translateY(-10px);
    }

    &-img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    &-content {
      padding: 20px;
    }

    &-title {
        margin: 0;
        font-size: 1.5em;
        color: #261c24;
      }

    &-text {
        margin-top: 10px;
        font-size: 1em;
        color: #261c24;
      }
  }

  .us {
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 400px 150px 300px 450px 300px 300px 300px;
    font-family: "roboto", sans-serif;

    &__img-zero {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: 1/3;
        grid-row: 1/2;
        border-bottom: 10px solid #261C24;
    }

    &__img-uno {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-row: 6/7;
        grid-column: 1/3;
    }

    &__titulo {
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5;
        font-weight: 700;
        color: #261C24;
        text-shadow: -1px 1px #FFFFFF, -2px 2px #261C24;
        padding-top: 30px;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    &__parrafo-uno,
    &__parrafo-dos,
    &__parrafo-tres {
        text-align: center;
        line-height: 1.2;
        font-weight: 300;
        grid-column: 1/3;
        margin-bottom: 0;
    }

    &__parrafo-uno {
        padding: 20px;
        padding-top: 40px;
        background-color: #261C24;
        color: whitesmoke;
        grid-row: 3/4;
    }

    &__parrafo-dos {
        padding: 15px;
        padding-top: 50px;
        background-color: #261C24;
        color: whitesmoke;
        grid-row: 5/6;
    }

    &__parrafo-tres {
        padding: 40px;
        grid-row: 7/8;
    }

}

.pagescarrusel {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.pagesslides {
  display: grid;
  grid-template-columns: repeat(5, 100%);
  animation: slide 15s infinite;
  width: 100%;
  input{
      display: none;
  }

  img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      display: block;
      
  }
}

.pagesslide {
  width: 100%;
}

.reservas{
  @include flex-column;
  flex-direction: column;
  font-weight: 600;
  color: #261C24;
  text-transform: uppercase;
}

.formulario{
  @include flex-column;
  flex-direction: column; 
  height: 600px;
  padding: 20px;
  margin: 30px;
  justify-content: space-evenly;

  h2{
    line-height: 1.5;
    font-weight: 700;
    color: #261C24;
    text-shadow: -1px 1px #FFFFFF, -2px 2px #261C24;
    padding-top: 30px;
  }
  
  label, input{
    display: flex;
    flex-direction: column;
    align-items: center;
      
  }
  textarea{
    @include medidas(250px, 120px);
    padding: 5px;
  }

  input{
    @include medidas(200px, 30px);
    padding: 5px;
  }

  input, textarea{
    border: #261C24 2px solid;
  }

}

.comensales input{
  text-align: center
}

input.submit{
  @include medidas(60px, 35px);
}
